* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// variabler
$background-color: rgb(207, 203, 203);
$primary-color: #ccb39b;
$p-color: rgb(39, 39, 39);
$p-margin-bottom: 1rem;
$p-font: Arial, Helvetica, sans-serif;

// mixins
@mixin book-cover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.252);
  border-radius: 10px;
  width: 200px;
  height: 300px;
  object-fit: cover; // behåller bildens proportioner
  transition: transform 0.3s ease-in-out; // mjuk övergång mellan skärmstorlekar
  &:hover {
    transform: scale(1.05); // förstorar boken vid hover
  } //Nästling
}

body {
  background-color: $background-color;
  justify-items: center;
}

.container-book {
  padding: 20px;
  margin: 1rem auto;
  width: 100%;
  max-width: 350px; /* Responsivitet, maxbredd för större skärmar */
  background-color: $primary-color;
  border: 1px solid rgb(228, 228, 202);
  border-radius: 10px; /* Rundande hörn */
  transition: all 0.3s ease-in-out; /* Mjuk övergång mellan skärmstorlekar */

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-cover {
  display: flex;
  justify-content: center;
}

.book-cover {
  @include book-cover;
}

h3 {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
}

.container-review {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #e0e0e0;
}

p {
  color: $p-color;
  margin-bottom: $p-margin-bottom;
  font: $p-font;
}
