* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  letter-spacing: 1px;
  font-family: Arial, sans-serif;
}
header {
  position: sticky;
  top: 0;
  background: #d02358;
  color: white;
  padding: 1rem;
  }

.evenemang-container {
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
  justify-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.evenemang-box {
  background: gray;
  width: 300px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #8B0000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  
}


.evenemang-box:hover {
  cursor: pointer;
  scale: 1.2;
}




@media (max-width: 768px) {
  .evenemang-container {
    flex-direction: column; 
    align-items: center; 
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #4790df;
  color: white;
  padding: 0.5rem;
}